<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    model-viewer {
        width: 100%;
        height: 90%;
        background-color: #ffffff;
    }


    .progress-bar {
        display: block;
        width: 33%;
        height: 10%;
        max-height: 2%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 25px;
        box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.9);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .progress-bar.hide {
        visibility: hidden;
        transition: visibility 0.3s;
    }

    .update-bar {
        background-color: rgba(255, 255, 255, 0.9);
        width: 0%;
        height: 100%;
        border-radius: 25px;
        float: left;
        transition: width 0.3s;
    }

    model-viewer {
        width: 100%;
        height: 600px;
    }

    .HotspotAnnotation {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
        color: rgba(0, 0, 0, 0.8);
        display: block;
        font-family: Futura, "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 700;
        left: calc(100% + 1em);
        max-width: 128px;
        overflow-wrap: normal;
        padding: 0.5em 1em;
        position: absolute;
        top: 50%;
        width: max-content;
    }

    .Hotspot {
        --min-hotspot-opacity: 50;
        background: rgb(255, 255, 255);
        border-radius: 32px;
        border: 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
        box-sizing: border-box;
        cursor: pointer;
        height: 24px;
        padding: 8px;
        position: relative;
        transition: opacity 0.3s ease 0s;
        width: 24px;
    }

    #lazy-load-poster {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url("../../img/poster.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #button-load {
        background-image: url("../../img/ic_get_app_white_24dp.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 6% 50%;
        background-color: #000;
        color: white;
        cursor: pointer;
        border-radius: 6px;
        display: inline-block;
        padding: 10px 18px 9px 40px;
        font-weight: 500;
        box-shadow: 0 0 8px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .25);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 100;
    }
</style>

<link rel="stylesheet" href="/public/css/custom.css">

<model-viewer id="lazy-load" class="demo" reveal="manual" disable-zoom src="/models/Base_Roulante_V2.glb" loading="lazy"
    ar ar-modes="webxr scene-viewer quick-look" camera-controls shadow-intensity="0"
    camera-orbit="-179.4deg 146.8deg 0.9606m" field-of-view="30deg" exposure="1.67">
    <button class="Hotspot" slot="hotspot-1"
        data-position="-0.02780266472108569m -0.018990535043268014m -0.39261032180950206m"
        data-normal="-0.8180993320198757m -0.5329944923086205m -0.2159406263705581m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Lidar</div>
    </button><button class="Hotspot" slot="hotspot-2"
        data-position="-0.06481057975523055m -0.15035407687918087m -0.08658890840544695m"
        data-normal="-0.8342115935623374m 0.551444482397082m -6.938893903907228e-18m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Pinces flexibles</div>
    </button><button class="Hotspot" slot="hotspot-3"
        data-position="-0.00016949138099907335m -0.12733264113992998m -0.2573377401459473m"
        data-normal="-6.591949208711867e-17m 0.9590812788283405m -0.2831308895210749m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Translation verticale</div>
    </button><button class="Hotspot" slot="hotspot-4"
        data-position="-0.10470596409300187m -0.05738093752809475m 0.0025570252880839743m"
        data-normal="-0.4297591395972037m -0.1565235162033425m 0.8892735635382474m" data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Déplacement holonome </div>
    </button><button class="Hotspot" slot="hotspot-6"
        data-position="0.1388546889598338m -0.08149662385238471m -0.23651337516441756m"
        data-normal="-0.866025403784436m 0.5000000000000043m -6.938893903907227e-18m"
        data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Afficheur</div>
    </button><button class="Hotspot" slot="hotspot-7"
        data-position="-0.10217745737505021m -0.0615623362018726m -0.309000000052154m"
        data-normal="0m -2.2204460492503136e-16m -1m" data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Panneau de contrôle</div>
    </button>

    <div id="lazy-load-poster" slot="poster"></div>
    <div id="button-load" slot="poster">Vue 3D</div>
</model-viewer>

<script>
    document.querySelector('#button-load').addEventListener('click',
        () => document.querySelector('#lazy-load').dismissPoster());
</script>